body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  width: 60%;
 margin: auto;
}

.container {

  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}

button {
  background-color: #ff00bb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6eb300;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.remove-button {
  background-color: #dc3545;
  padding: 5px 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #c82333;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.header button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.header button:hover {
  background-color: #0056b3;
}

.content {
  display: flex;
  width: 100%;
}

.sidebar {
  flex: 1;
  margin-right: 20px;
}

.main {
  flex: 2;
}

.add-product-form {
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.product-list {
  margin-top: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.remove-button {
  background-color: #dc3545;
  padding: 5px 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #c82333;
}
